about-time==4.2.1
alive-progress==3.1.5
certifi==2024.2.2
charset-normalizer==3.3.2
grapheme==0.6.0
idna==3.7
pymailtm==1.1.1
pyperclip==1.8.2
random-username==1.0.2
requests==2.31.0
simple-term-menu==1.6.4
urllib3==2.2.1
